*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(182, 182, 182); */
}
body {
    background-image: url(../image/photo2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    background-color: rgba(255, 253, 252, 0.445);
}
.weather-create {
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-left: 100px;

}
.weather-button {
    height: 35px;
    width: 40px;
    border-radius: 5px;
    background-color: black;
    color: black;
    margin-left: 10px;
}
.container-wc{
    border: 0px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    margin-left:10px;
    height:30px;
    width: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.input-app{
    text-align: center;
    margin-top: 30px;
}
input{
   height: 25px;
   border-radius: 5px;
}
.weather-list{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 10px;
}
.weather-list img{
    height: 100px;
}
.city{
    font-size: 25px;

}
.sıcaklık{
    margin-top:40px;
    font-size: 25px;
    position: relative; 
    display: inline-block;

}
.sıcaklık b{
    font-size: 50px;
 
}
.time{
    margin-top: 10px;
    font-size: 15px;
    margin: 5px;
}
.date{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.soluk{
   opacity:0.5;
   margin-top: 15px;
}
.degree-symbol {
    position:absolute;
    top: 0;
    right: -7;
    bottom: 5;
    font-size: 0.6em; 
    color: #000;
    margin-right: 5px; 
  }